:root {
    --main-color: #1e222efd;
    --second-color: #ff9e1b;
}


.main-box {
    height: 100hv;
    display: flex;
}

.img-box {

    background-color: var(--main-color);
}

.img-box img {
    height: 100vh;
    width: 500px;
    border-radius: 0 50px 50px 0;
}

.form-box {
    min-height: 100vh;
    height: fit-content;
    background-color: var(--main-color);
    text-align: center;
}

.form-box .logo {
    margin-bottom: 75px;

}

.form-box .logo img {
    max-width: 320px;
    border-radius: 0px 70px 0px 70px;
    box-shadow: 1PX 5PX 10PX 10PX #888d9cfd;
}

.form-box h1 {
    margin-bottom: 20px;
    font-weight: bold;
}

.form-box h5 {
    margin-bottom: 15px;
    font-weight: bold;
}


.form-box .input-box {
    display: flex;
    justify-content: center;
}

.form-box .form-group {
    max-width: 400px;
    width: 90%;
}

.form-box .form-group input {
    padding: 15px 0px;
}

.form-box .form-group input:not([type=submit]) {
    max-width: 390px;
    width: 100%;
    padding-left: 35px;
}

.form-box form .form-group #svg {
    display: block;
    position: relative;
    top: -36px;
    left: 9px;
    color: #595c5f;
    font-size: 18px;
}


.form-box .btn-box input[type=submit] {
    max-width: 330px;
    width: 90%;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 7px;
    background-color: var(--second-color);
    color: white;
    border: none;
    outline: none;
    padding: 10px;
    margin: 15px 0px;
}

.form-box .btn-box input[type=submit]:hover {
    background-color: #f3d30c;
}

.form-box form .form-group .alert-danger {
    text-align: -webkit-left;
    padding: 0;
    margin: -10px 0px 20px 25px;
    width: 85%;
}